{% extends "layout.html.twig" %}
{% block contenu %}
    <h2>Liste des clients </h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Titre</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Complement</th>
                <th scope="col">Cp</th>
                <th scope="col">Ville</th>
                <th scope="col">Tel</th>
            </tr>
        </thead>
        <tbody>
            {% for Client in Clients %}
                <tr>
                    <td>{{ Client.GetId() }}</td>
                    <td>{{ Client.GetTitreCli() }}</td>
                    <td>{{ Client.GetNomCli() }}</td>
                    <td>{{ Client.GetPrenomCli() }}</td>
                    <td>{{ Client.getAdresseRue1Cli() }}</td>
                    <td>{{ Client.GetAdresseRue2Cli() }}</td>
                    <td>{{ Client.GetCpCli() }}</td>
                    <td>{{ Client.GetVilleCli() }}</td>
                    <td>{{ Client.GetTelCli() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p> Nombre de clients trouvés : {{ Clients|length }} </p>
{% endblock %}