{% extends "layout.html.twig" %}
{% block contenu %}
    <h2>Informations du client numéro {{ unClient.getId() }}</h2>
    <p>{{ unClient.getPrenomCli() }} {{ unClient.getNomCli() }}</p>
    <p> {{ unClient.getAdresseRuelcli() }}</p>
    {% if unClient.getAdresseRue2Cli() %}
        <p> {{ unClient.getAdresseRue2Cli() }}</p>
    {% endif %}
    <p>{{ unClient.getCpCli() }} {{ unClient.getVillecli() }}</p>
    <p>{{ unClient.getTelCli() }}</p>
    {% if commandes %}
        {{ include ('/blocks/arrayCommandes.html.twig') }} 
    {% else %}
        <h2>Aucune commande pour ce clients.</h2>
    {% endif %}
{% endblock %}
{% block footer %}
    {{ parent () }}
    <div class="text-center"> Fin de l'affichage</div>
{% endblock %}