{% extends "layout.html.twig" %}
{% block contenu %}
    {% if uneCommande %}
        {% set idCommande = uneCommande.getId() %}
    {% endif %}
    {% block recherche %}
        {% include 'rechercheCommande.html.twig' %}
    {% endblock %}
    {% if uneCommande %}
        <h2>Informations de la commande numéro {{ idCommande }}</h2>
        <p>Client:{{ uneCommande.getIdClient() }}</p>
        <p>Date: {{ uneCommande.getDateCde() }}</p>
        <p>Numéro de la facture: {{ uneCommande.getNoFacture() }}</p>
    {% else %}
    {% endif %}
{% endblock %}
{% block footer %}
    {{ parent () }}
    <div class="text-center"> Fin de l'affichage</div>
{% endblock %}